<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangliang.bookmanager.mapper.UserMapper">
    <resultMap id="UserMap" type="com.liangliang.bookmanager.bean.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar_image" property="avatarImage"/>
        <result column="points" property="points"/>
        <result column="group" property="group"/>
        <result column="user_state" property="userState"/>
        <result column="email" property="email"/>
    </resultMap>

    <select id="getUserList"  resultMap="UserMap">
        SELECT * FROM "user"
    </select>

    <select id="getUserById"  resultMap="UserMap">
        SELECT * FROM "user" WHERE "user_id" = #{_parameter}
    </select>

    <select id="searchUser" resultMap="UserMap">
        SELECT * FROM(
            SELECT "user".*,"group"."user_group_info",ROWNUM rn FROM "user" ,"group"
            <where>
                "group"."user_group_id"=  "user"."group"
                <if test="groupValue != null and groupValue != ''">
                    AND "user"."group" = #{groupValue}
                </if>
                <if test="searchName != null and search != null">
                    AND "user"."${searchName}" LIKE #{search}
                </if>
            </where>
            ORDER BY #{sort}
        )b
        WHERE b.rn BETWEEN #{offset} AND #{limit}
    </select>

    <select id="searchUserCount" resultType="Integer">
        SELECT COUNT(*) FROM(
            SELECT * FROM(
                SELECT "user".*,"group"."user_group_info",ROWNUM rn FROM "user" ,"group"
                <where>
                    "group"."user_group_id"=  "user"."group"
                    <if test="groupValue != null and groupValue != ''">
                        AND "user"."group" = #{groupValue}
                    </if>
                    <if test="searchName != null and search != null">
                        AND "user"."${searchName}" LIKE #{search}
                    </if>
                </where>
                ORDER BY #{sort}
            )b
            WHERE b.rn BETWEEN #{offset} AND #{limit}
        )
    </select>

    <insert id="addUser" parameterType="com.liangliang.bookmanager.bean.User">
        INSERT INTO "user" ("user_id","username","password","nickname","avatar_image","points","group","user_state","email")
        VALUES (seq_user.nextVal,#{username},#{password},#{nickname},#{avatarImage},#{points},#{group},#{userState},#{email})
    </insert>

    <update id="updateUser" parameterType="com.liangliang.bookmanager.bean.User">
        UPDATE "user"
        <set>
            <if test="username != null">
                "username" = #{username},
            </if>
            <if test="password != null">
                "password"=#{password},
            </if>
            <if test="nickname != null">
                "nickname" = #{nickname},
            </if>
            <if test="avatarImage != null">
                "avatar_image" = #{avatarImage},
            </if>
            <if test="group != null">
                "group" = #{group},
            </if>
            <if test="points != null">
                "points"= #{points},
            </if>
            <if test="userState != null">
                "user_state" = #{userState},
            </if>
            <if test="email != null">
                "email" = #{email}
            </if>
        </set>
        where "user_id"=#{userId}
        <!--<if test="username != null">-->
            <!--and not exists(select 1 from(select 1 from user where username=#{username})a)-->
        <!--</if>-->
    </update>

    <delete id="deleteUser">
        DELETE FROM "user"
        WHERE "user_id"=#{_parameter}
    </delete>

    <select id="userLogin" resultMap="UserMap">
        SELECT * FROM "user"
        WHERE "user"."username" = #{username} and "user"."password" = #{password}
    </select>

</mapper>